body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-image: url('https://images.rawpixel.com/image_1000/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvdjExNDctYmctMDEtMi1rem93MTJwNi5qcGc.jpg');
    background-repeat: repeat-y;
    background-size: cover;
}

#calculator-form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 20px;
}

input {
    margin-top: 5px;
}

button {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
}
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 896px)
  and (-webkit-min-device-pixel-ratio: 2) { 
    /* Styles */
    body {
        font-size: 18px;
    }

    h1 {
        font-size: 24px;
    }

    label {
        font-size: 20px;
    }

    input {
        width: 100%;
        padding: 12px;
    }

    button {
        width: 100%;
        padding: 15px;
        font-size: 18px;
    }
}

